.btn-facebook{
    background-image: #3b5998;
    background-color: #3b5998;
    box-sizing: border-box;
    position: relative;
    border: none;
    text-align: left;
    white-space: nowrap;
    color: white;
   
}

