@media screen and (max-width: 760px) {
  .history-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .history-container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
}

.order-image {
  float: left;
  width: 120px;
  height: 90px;
}

.order-title {
  height: 20px;
  font-family: LucidaGrande;
  font-size: 16px;
  color: #4a4a4a;
  text-indent: 24px;
}

.order-date {
  height: 16px;
  font-family: LucidaGrande;
  font-size: 12px;
  color: #4a4a4a;
  margin-left: 16px;
}

.date-image {
  width: 16px;
  height: 16px;
  margin-left: 24px;
}

.btn_details {
  font-size: 16px;
  color: white;
  border-radius: 8px;
  background-color: #e0be63;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .btn_details {
    margin-left: 500px;
  }
}

.Line {
  size: 1;
  color: rgba(155, 155, 155, 0.2);
  margin-left: 29px;
}
