@media screen and (max-width: 760px) {
  .history-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .history-container {
    margin-left: 30px;
    margin-right: 30px;
    float: center;
  }
}

.order-image {
  float: left;
  width: 120px;
  height: 90px;
}

.order-title {
  height: 20px;
  font-family: LucidaGrande;
  font-size: 16px;
  color: #4a4a4a;
  text-indent: 24px;
}

.order-date {
  height: 16px;
  font-family: LucidaGrande;
  font-size: 12px;
  color: #4a4a4a;
  margin-left: 16px;
}

.date-image {
  width: 16px;
  height: 16px;
  margin-left: 24px;
}

.btn_details {
  font-size: 16px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #28a745;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .btn_details {
    margin-left: 600px;
    margin-top: 80px;
  }
}

.line {
  size: 1;
  color: rgba(155, 155, 155, 0.2);
  margin-left: 29px;
}
