@media screen and (min-width: 601px) {
  .list-group {
    font-size: 15px;
    color: grey;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .list-group {
    font-size: 9px;
    color: grey;
    font-weight: 400;
  }
}

@media screen and (min-width: 601px) {
  div.title {
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.title {
    font-size: 15px;
  }
}
/* .row {
  width: 281px;
  font-family: CorsivaHebrew;
  font-size: 15px;
  color: #e0be63;
  width: 1024;
  float: left;
} */

.title {
  width: 281px;
  height: 25px;
  font-family: CorsivaHebrew;
  font-size: 20px;
  color: #e0be63;
  padding-left: 71px;
  padding-top: 10px;
}

.imagez {
  width: 100%;
  padding-left: 71px;
  padding-right: 71px;
  height: auto;
}

.btn_request {
  height: 35px;
  color: white;
  width: 144px;
  border-radius: 19px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(211, 163, 33, 0.7);
  margin-right: 1cm;
  padding: 10px;
}

.text {
  font-family: AvenirNext;
  color: grey;
  text-align: left;
}
.description {
  width: 1024;
  font-family: AvenirNext;
  color: grey;
  text-align: justify;
  padding-left: 71px;
  padding-right: 71px;
}
.detail-container {
  margin-top: 8px;
  margin-bottom: 50px;
}
