@media (min-width: 651px) {
  #homepage-icon {
    color: #e0be63;
    font-size: 40px;
  }
  #categories-icon {
    color: #28a745;
    font-size: 30px;
    width: 100%;
    margin-top: 8px;
  }

  #homepage-container {
    margin-top: 20px;
  }

  #categories-card {
    width: 9rem;
    box-shadow: 1px 1px 2px 0 #9b9b9b;
    border: solid 1px rgba(155, 155, 155, 0.17);
    background-color: #ffffff;
  }

  #foru-card {
    width: 22rem;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0 #9b9b9b;
    background-color: #ffffff;
    margin: 20px;
  }
  #categories-text {
    text-align: center;
    font-family: Helvetica;
    font-size: 9px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #4a4a4a;
  }

  #title-text {
    font-family: LucidaGrande;
    font-size: 16px;
    color: #4a4a4a;
  }
  #projectcard-title {
    font-family: LucidaGrande;
    font-size: 15px;
    color: #4a4a4a;
  }
  #projectcard-text {
    font-family: AvenirNext;
    font-size: 11px;
    text-align: justify;
    color: #4a4a4a;
  }
  #search-input {
    width: 50%;
    margin-left: 25%;
    z-index: 5;
    margin-top: 74px;
    border-radius: 14px;
    height: 38px;
    background-color: #ffffff;
  }
  #head-image1 {
    position: absolute;
    left: 0%;
    width: 33%;
    height: 100%;
    z-index: 1;
  }
  #head-image2 {
    position: absolute;
    left: 33%;
    width: 33%;
    height: 100%;
    z-index: 1;
  }
  #head-image3 {
    position: absolute;
    left: 66%;
    height: 100%;
    width: 33%;
    z-index: 1;
  }
  #head-row {
    position: relative;
    height: 220px;
  }
  .btn-see-more {
    width: 200px;
    height: 35px;
    border-radius: 19px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #28a745;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: white;
    margin-left: 40%;
  }
}

@media (max-width: 650px) {
  #head-image1 {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #head-image2 {
    position: absolute;
    left: 0%;
    width: 0%;
    height: 100%;
    z-index: 1;
  }
  #head-image3 {
    position: absolute;
    left: 0%;
    width: 0%;
    height: 100%;
    z-index: 1;
  }
  #head-row {
    position: relative;
    height: 200px;
  }
  #categories-icon {
    color: #28a745;
    font-size: 30px;
    width: 100%;
    margin-top: 8px;
  }
  #homepage-icon {
    color: #ffc107;
    font-size: 30px;
    left: 40%;
  }

  #homepage-container {
    margin-top: 20px;
  }
  #categories-text {
    text-align: center;
    font-family: Helvetica;
    font-size: 9px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #4a4a4a;
  }
  #title-text {
    font-family: LucidaGrande;
    font-size: 16px;
    color: #4a4a4a;
  }

  #projectcard-text {
    font-family: AvenirNext;
    font-size: 11px;
    text-align: justify;
    color: #4a4a4a;
  }
  #search-input {
    width: 97%;
    z-index: 5;
    margin-left: 1%;
    margin-top: 70px;
    border-radius: 14px;
    height: 38px;
    background-color: #ffffff;
  }
  .btn-see-more {
    width: 100%;
    height: 35px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(211, 163, 33, 0.7);
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: white;
  }
  #foru-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0 #9b9b9b;
    background-color: #ffffff;
    margin: 20px;
  }
  #categories-card {
    width: 8rem;
    box-shadow: 1px 1px 2px 0 #9b9b9b;
    border: solid 1px rgba(155, 155, 155, 0.17);
    background-color: #ffffff;
  }
  .card {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .row {
    margin-top: 10px;
  }
}

.btn-view-detail {
  border-color: #28a745;
  border-radius: 10px;
  color: #28a745;
  width: 100px;
  align-items: flex-end;
  margin-top: 10px;
  margin-left: 100%;
}

.qty-event {
  color: #4a4a4a;
  font-size: 12px;
  margin-top: 7px;
  margin-left: 12px;
}

.card-left {
  left: 0;
  margin-left: 20px;
}
