@media screen and (max-width: 760px) {
  .login-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .login-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
}
