.html,
body{
  padding-left: 150px;
  padding-right: 150px;
}

.title {
  width: 112px;
  height: 15px;
  font-family: LucidaGrande;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #4a4a4a;
}

.form-control{
  width: 100px
}
