.brand-logo {
  width: 206px;
  height: 31px;
  padding-left: 100px;
  font-family: Monaco;
  font-size: 25px;
  color: #e0be63;
  text-decoration-color: #e0be63;
  text-decoration: none;
}

.profile-icon {
  font-size: 25px;
  color: #e0be63;
  margin-right: 100px;
}

.cart-icon {
  font-size: 25px;
  color: #e0be63;
  margin-right: 25px;
}
