@media screen and (max-width: 760px) {
  .forgot-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .forgot-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
}

.notif {
  color: #ffc107;
  text-align: center;
}

.text-center {
  text-align: center;
}

.center-item {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.btn-style {
  width: 220px;
  height: 38px;
  border-radius: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #28a745;
  color: white;
}
