@media screen and (max-width: 760px) {
  .profile-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .profile-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
}

.profile-picture {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-width: 1px;
  border-color: grey;
  margin-bottom: 50px;
  border: solid 0.5px rgba(155, 155, 155, 0.3);
}

.btn-edit-profile {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #28a745;
  font-size: 12px;
  text-align: center;
  display: flex;
  position: fixed;
  right: 40px;
  bottom: 40px;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: white;
}
