.transactionlist-container {
  margin-left: 250px;
  margin-right: 250px;
}

@media screen and (max-width: 768px) {
  .transactionlist-container {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.project-preview-thumbnail img {
  max-width: 40%;
}

.project-title-left {
  text-align: left;
}

.transaction-list {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .transaction-list {
    margin: 20px;
    padding: 5px;
  }
}

.customer {
  text-decoration: underline;
}

.book-date {
  font-size: 12px;
}

.wrapper-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.orders {
  width: 30%;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.info-order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .infor-order {
    margin-bottom: 10px;
  }
}

.package {
  width: 25%;
  flex-grow: 1;
}

.price {
  width: 25%;
  flex-grow: 1;
}

.status-order {
  width: 25%;
  flex-grow: 1;
}

.preview {
  width: 25%;
  flex-grow: 1;
}
